
.App {
  background-color: #f0f0f0; /* Light gray background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

/* Styles for the left column (Carousel) */
.left-column {
  background-color: #ffc107; /* Yellow background color */
  flex: 1;
  padding: 20px;
}

/* Styles for the right column (Message) */
.right-column {
  background-color: #2196F3; /* Blue background color */
  flex: 1;
  padding: 20px;
  color: white; /* Text color */
}
.letter {
  color:#9e00e9; /* Replace with your desired color code or color name */
}
.bottom {
  text-align: left; /* Center-align the text horizontally */
  margin-top: auto; /* Push the content to the bottom */
  padding: 20px; /* Add some padding for spacing */
  background-color: #f0f0f0

}
.message-container {
  max-width: 80%; /* Adjust the width as needed */
}

/* Additional CSS styles for the Carousel and Message components can be added here */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* celebrations.css */

/* Define a class for colorful confetti */
.confetti {
  position: absolute;
  width: 10px; /* Width of the square */
  height: 10px; /* Height of the square */
  background-color: #f00; /* Change to your desired background color */
  animation: confetti-fall 5s linear infinite;
}

/* Define keyframes for square confetti animation */
@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.confetti-blue {
  background-color: #0074e4; /* Blue color */
}

.confetti-green {
  background-color: #00a74f; /* Green color */
}

.confetti-yellow {
  background-color: #ffd500; /* Yellow color */
}

.confetti-purple {
  background-color: #9e00e9; /* Purple color */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
