
.App {
  background-color: #f0f0f0; /* Light gray background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

/* Styles for the left column (Carousel) */
.left-column {
  background-color: #ffc107; /* Yellow background color */
  flex: 1;
  padding: 20px;
}

/* Styles for the right column (Message) */
.right-column {
  background-color: #2196F3; /* Blue background color */
  flex: 1;
  padding: 20px;
  color: white; /* Text color */
}
.letter {
  color: #ff5733; /* Replace with your desired color code or color name */
}
.message-container {
  max-width: 80%; /* Adjust the width as needed */
}

/* Additional CSS styles for the Carousel and Message components can be added here */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
